.twitter-message .body {
    display: block !important;
    padding-right: 0px !important;
}

.twitter-message .content {
    margin-left: 48px;
    padding-right: 10px !important;
    /* border-bottom: solid #4d4d4d 1px; */
    border-bottom: solid #DDD 1px;
}

.messages .twitter-message:nth-last-child(1) .content {
    border-bottom: none;
}

.twitter-message .profile-image-container {
    float: left;
}

.twitter-message .profile-image {
    height: 36px;
    width: 36px;
    border-radius: 5px;
}

.embed-items img {
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
    box-shadow: 3px 3px 3px rgba(150, 150, 150, 0.5);
}
