<div class="names">
  <div class="names-header header-box">
    <i class="iconic" data-glyph="people"></i>
    Users ({{count names}})
  </div>

<div class="break"></div>

  <div class="user-list scrollbar-hide">
    {{#names}}
    <div class="user" data-name="{{.}}">
      {{.}}
    </div>
    {{/names}}
  </div>
</div>
